<button mat-mini-fab color = "primary" (click) = onClick(0)> 
    <mat-icon>clear</mat-icon>
</button>
<button mat-mini-fab color={{color1}} (click) = onClick(1)> 
    <mat-icon>{{icono1}}</mat-icon>
</button>
<button mat-mini-fab color={{color2}} (click) = onClick(2)> 
    <mat-icon>{{icono2}}</mat-icon>
</button>
<button mat-mini-fab color={{color3}} (click) = onClick(3)> 
    <mat-icon>{{icono3}}</mat-icon>
</button>
<button mat-mini-fab color={{color4}} (click) = onClick(4)> 
    <mat-icon>{{icono4}}</mat-icon>
</button>
<button mat-mini-fab color={{color5}} (click) = onClick(5)> 
    <mat-icon>{{icono5}}</mat-icon>
</button>
